*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.cleaner {
    clear: both;
}

a {
    text-decoration: none;
    color: black;
}

body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Playfair Display', serif;
    
}

.page1{
    background-image: url(../img/Louis\ Armstrong.jpg); 
    background-position: center;
    background-repeat:no-repeat ;
    background-size:cover;
    height: 1000px;
    padding: 15px 35px;    
}



header h1{
    font-size: 45pt;
    float: left; 
    color: white;   
}


header nav ul{
    list-style-type: none;
    margin-right: 2%;
    float: right;
}


header nav ul li {
    /* float=left */
    font-size: 25pt;
    padding: 10px;
    display: inline;
}

header nav ul li a {
    color: white;
}


.slikalink{
    margin:5%;
    float: left;
    width: 40%;
    height: 400px;
    position: relative;
}



.slikalink img {
    width: 100%;
    display: block;
}

.overlay {
    position: absolute; 
    bottom: 0; 
    background: black;
    color: #f1f1f1; 
    width: 100%;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  



.followicon {
    width: fit-content;
    margin: auto;
    text-align: center;
}

.followicon  i {
    color: #4267B2;
    font-size: 35px;
}

.followicon p {
    font-size: 35px;
}

.followicon-icons-wrapper{
    margin: 15px auto;
}


footer {
    height: 75px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: auto;
    color: white;
    width: fit-content;
    height: fit-content;
}


footer i {
    color:  white;
    font-size: 30px;
    margin: 5px;
}


.quick-info {
    border-style: solid;
    border-width: 2px;
    margin: 13% auto 0 auto;
    text-align: center;
    width: 60%;
    background-color: cornsilk;
}

.quick-info h3{
    font-size: 45px;
}

.quick-info h4{
    font-size: 35px;
}

.quick-info p{
    font-size: 25px;
    margin: 10px;
}



#no2 h3{
    font-size: 55px;
}

#no2 p{
    text-indent: 50px;
    margin: 13px 0;
}

.early-life-text {
    margin: 5%;
    text-align: left;
    width: 50%;
    font-size: 25px;
    float: left;
}

.early-life img {
    width: 25%;
    float: left;
    margin: 10% 7%;
}

.king-oliver-text{
    margin:5%;
    text-align: left;
    width: 35%;
    font-size: 25px;
    float: left;
}

.king-oliver img {
    width: 40%;
    float: left;
    margin: 5% 7%;
}

.first-spouse-text{
    margin:5%;
    text-align: left;
    width: 35%;
    font-size: 25px;
    float: left;
}

.first-spouse img {
    width: 40%;
    float: left;
    margin: 5% 7%;
}

.fate-marable-text{
    margin:5%;
    text-align: left;
    width: 45%;
    font-size: 25px;
    float: left;
}

.fate-marable img {
    width: 30%;
    float: left;
    margin: 5% 7%;
}

hr {
    height: 5px;
    width: 85%;
    margin:auto;
    background-color: black;
}

.page3{
    margin: auto;
    width: 80%;
}



.column {
    width: 33.33%;
    float:left;
}

.row a img {
    width: 90%;
    margin: auto;
}



.page4 {
    padding: 15px 35px;
    background-color: black;
}



.autor{
    margin:5%;
    padding-top: 30px;
    

}

.autor img {
    float: left;
    margin-right: 5%;
    width: 25%;
    box-shadow:-8px -8px #777777;
}



.autor p{
    margin:17px;
    text-align: left;
    width: 60%;
    font-size: 25pt;
    float: left;
    text-indent: 50px;
}
#no5{
    background-color: #d9d9d9;
}

.side {
    width: 40%;
    height: 70%;
    margin: 2%;
    float: left;
}


form{
    text-align: left;
    margin: auto;
    width: 80%;
    margin: 100px auto 150px auto;
}

form p{
    font-size: 35px;
    font-weight: bold;
    width: 100%;

}
.formbox{
    background-color: #b3b3b3;
    width: 90%;
    margin:40px auto;
    box-shadow: -13px -13px #8c8c8c ;
    border-radius: 2em;
    height: 400px;
}

.side label{
    font-size: 35px;
    font-weight: bold;
    margin: 15px 5%;
}

input[type=text]{
    margin: 30px 15%;
    width: 70%;
    border:none;
    height: 40px;
    padding: 8px;
    font-size: 20px;
}

textarea{
    margin: 30px 15%;
    width: 100%;
    height: 200px;
    border:none;
    padding: 8px;
    font-size: 20px;
    transition: height 2s;
    
}

textarea:hover {
    height: 350px;
    
}




