*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.cleaner {
    clear: both;
}

a {
    text-decoration: none;
    color: black;
}

body{
    background-color: red;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Playfair Display', serif;
    
}

header{
    background-image: url(../img/1.png);
    background-position: center;
    background-repeat:no-repeat ;
    background-size:cover;
    height: 1000px;
    padding: 50px;    
}



header h1{
    font-size: 45pt;
    float: left;    
}


header nav ul{
    list-style-type: none;
    margin-right: 2%;
    float: right
}


header nav ul li {
    float: left ;
    font-size: 25pt;
    padding: 10px;
}


.slikelink{
    margin:5%;
    float: left;
}

.followicon {
    width: fit-content;
    margin: auto;
    text-align: center;
}

.followicon  i {
    color: #4267B2;
    font-size: 35px;
}

.followicon p {
    font-size: 35px;
}

.followicon-icons-wrapper{
    margin: 15px auto;
}


footer {
    height: 75px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: auto;
    color: white;
    width: fit-content;
    height: fit-content;
}


footer i {
    color:  white;
    font-size: 30px;
}