*{
    margin:0;
    padding:0;
}
body{
    margin:auto;

}


.menuplace{
    background-image: url(../img/1.png);
    background-position: center;
    background-repeat:no-repeat ;
    width: 100%;
    padding: 50px;
    
}